/* CSS Variablen for consistent values */
:root {
  --font-family: 'InterDisplay', sans-serif;
  
  /* Text-Colors */
  --h1-color: #333;
  --h2-color: #333;
  --h3-color: #333;
  --text-color: #333;
  --overline-color: #333;
  --chord-info-color: #333;
  --fretboard-header-color: #888;
  --chord-input-color: #333;

  /* Font-Weights */
  --h1-weight: 300;
  --h2-weight: 300;
  --h3-weight: 300;

  /* Backgrounds */
  --bg-color: #ffffff;
  --primary-color: #e9e8df;
  --accent-color: #e2eeb3;
  
  /* UI-Elements */
  --header-bg: rgb(255, 255, 255, 1.0);
  --card-bg: #fff;
  --card-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  --border-color: #ccc;
  --highlight-border: #333;
  
  /* Interactions */
  --transition-speed: 0.8s;
  
  /* Submit-Button */
  --submit-button-color: #333;
  --submit-button-text-color: #fff;
  --submit-button-hover-color: #444;
  --submit-button-font-weight: 200;
  --submit-button-icon: #fff;
  
  /* Lines */
  --header-border-color: #9f9f9f;
  --section-border-color: #9f9f9f;
  
  /* Input Fields */
  --chord-input-bg-color: rgba(0, 0, 0, 0.02);
  --chord-input-focus-bg-color: rgba(0, 0, 0, 0.05);
}

/* Dark Mode */
:root.dark-mode {

  /* Text-Colors */
  --h1-color: #bbb;
  --h2-color: #bbb;
  --h3-color: #bbb;
  --text-color: #bbb;
  --overline-color: #666;
  --chord-info-color: #666;
  --fretboard-header-color: #666;
  --chord-input-color: #eee;

  /* Font-Weights */
  --h1-weight: 300;
  --h2-weight: 200;
  --h3-weight: 200;
  
  /* Backgrounds */
  --bg-color: #131313;
  --primary-color: #2c2c2c;
  --accent-color: #4d3b55;

  /* UI-Elements */  
  --header-bg: #131313;
  --card-bg: #131313;
  --card-shadow: 0 0 10px rgba(0, 0, 0, 0);
  --border-color: #555;
  --highlight-border: #bbb;

  /* Interactions */  
  --submit-button-color: #222;
  --submit-button-text-color: #ccc;
  --submit-button-hover-color: #333;
  --submit-button-font-weight: 400;
  --submit-button-icon: #ccc;

  /* Lines */  
  --header-border-color: #444;
  --section-border-color: #444;

  /* Input Fields */  
  --chord-input-bg-color: rgba(255, 255, 255, 0.02);
  --chord-input-focus-bg-color: rgba(255, 255, 255, 0.05);
}


/* Fonts */
@font-face {
  font-family: 'InterDisplay';
  font-weight: 100;
  src: url('fonts/InterDisplay-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'InterDisplay';
  font-weight: 200;
  src: url('fonts/InterDisplay-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'InterDisplay';
  font-weight: 300;
  src: url('fonts/InterDisplay-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'InterDisplay';
  font-weight: 400;
  src: url('fonts/InterDisplay-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'InterDisplay';
  font-weight: 500;
  src: url('fonts/InterDisplay-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'InterDisplay';
  font-weight: 600;
  src: url('fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

/* Reset & Basic Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  padding: 0px;
  color: var(--text-color);
}

/* Headlines */
h1 {
  flex: 0 1 10%;
  font-size: 1em;
  letter-spacing: 0.00rem;
  text-transform: none;
  font-weight: var(--h1-weight);
  color: var(--h1-color);
}

h2 {
  font-size: 3.7em;
  letter-spacing: 0rem;
  text-transform: none;
  font-weight: var(--h2-weight);
  color: var(--h2-color);
  margin-top: 2rem;
}

h3 {
  font-size: 1.8em;
  letter-spacing: 0rem;
  text-transform: none;
  font-weight: var(--h3-weight);
  color: var(--h3-color);
  margin-top: 4rem;
}

/* Overlines for Fretboards */
p {
  font-size: 0.7rem;
  line-height: 1rem;
  color: var(--overline-color);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-top: 2rem;
}

/* Main Container */
main {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 0rem;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--header-bg);
  border-bottom: 1px dotted var(--header-border-color);
  margin-bottom: -0.1rem;
}

/* Input Section */
#input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1 1 60%;
}

#chord-input {
  flex: 0 1 60%;
  padding: 15px;
  font-size: 1em;
  border-radius: 999px;
  border: none;
  color: var(--chord-input-color);
  background-color: var(--chord-input-bg-color);
  transition: outline var(--transition-speed);
  appearance: none;
}

#chord-input:focus {
  outline: none;
  background-color: var(--chord-input-focus-bg-color);
  appearance: none;
}

.button-container {
  display: flex; /* Flexbox aktivieren */
  align-items: center; /* Vertikale Ausrichtung */
  gap: 10px; /* Abstand zwischen den Buttons */
}


/* Submit Button */
#submit-button {
  flex: 0 1 80%;
  border-radius: 999px;
  background-color: var(--submit-button-color);
  border: none;
  color: var(--submit-button-text-color);
  text-align: center;
  font-size: 0.7em;
  font-weight: var(--submit-button-font-weight);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: relative;
}

#submit-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease;
  transform: translateX(12px);
}

#submit-button .icon {
  width: 16px;
  height: 12px;
  fill: var(--submit-button-icon);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(-5px);
}

#submit-button:hover {
  background-color: var(--submit-button-hover-color);
}

#submit-button:hover .icon {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

#submit-button:hover span {
  transform: translateX(-5px);
}

/* Dark-Light-Mode Toggle */
#dark-light-toggle {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* SVG-Styling */
#dark-light-toggle .icon {
  width: 24px;
  height: 24px;
  color: #333 !important; /* Standardfarbe */
  opacity: 0.8;
}

/* Hover-Effekt */
#dark-light-toggle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Dark Mode Anpassungen */
.dark-mode #dark-light-toggle .icon {
  color: #eee !important; /* Farbe für Dark Mode */
}

:root.dark-mode #dark-light-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



/* Card Styling */
.card {
  background-color: var(--card-bg);
  border-radius: 0px;
  border-top: 1px dotted var(--section-border-color);
  padding: 2rem;
  margin-bottom: 30px;
  /* box-shadow: var(--card-shadow); */
  opacity: 0;
  transform: translateY(0px);
  animation: fadeInUp var(--transition-speed) forwards;
}

/* Chord Section Styling */
.card__section {
  margin-top: 8rem;
}

/* Chord Styling */
.card__title {
  margin-top: 8rem;
  margin-bottom: 10px;
  font-size: 1.3em;
}

/* Style for Chord-Info */
.root-quality {
  font-size: 0.7rem;
  line-height: 1rem;
  color: var(--chord-info-color);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: block;
  margin-top: 16px;
}

.intervals {
  font-size: 0.7rem;
  line-height: 1rem;
  color: var(--chord-info-color);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: block;
  margin-top: 5px;
}

/* Fretboard Grid Styling */
.fretboard {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 2px;
}

/* Abstand für das Intervall-Label */
.interval-label {
  margin-top: 4rem;
  font-weight: 400;
}

/* Abstand zwischen den beiden Fretboards */
.fretboard:nth-of-type(2) {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.fretboard .cell {
  border: 0px solid var(--border-color);
  padding: 5px;
  text-align: center;
  min-width: 30px;
  min-height: 30px;
  font-size: 0.9rem;
  border-radius: 999px;
  transition: background-color var(--transition-speed), border-color var(--transition-speed);
}

.fretboard .header {
  color: var(--fretboard-header-color);
  background-color: none;
  font-size: 0.8rem;
  font-weight: 300;
}

.fretboard .highlight {
  background-color: var(--primary-color);
  font-weight: 300;
  border-color: var(--highlight-border);
}

.fretboard .chord-tone {
  background-color: var(--accent-color);
  border: 0px solid var(--highlight-border);
}

/* Animation for Card-Appearance */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Abstand zwischen den Elementen */
p, .fretboard {
  margin-top: 28px;
  margin-bottom: 28px;
}

/* Play-Button Styliing */
.play-button {
  display: inline-flex;
  margin-top: 1rem;
  align-items: center;
  gap: 8px;
  background-color: #2a2a2a;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 50px;
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.play-button:hover {
  background-color: #000000;
  transform: scale(1.0);
}

.play-button:active {
  transform: scale(1.0);
}

.play-button svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}


  
/* Responsive Layout */
@media (max-width: 800px) {
  
  header {
    margin: 0 auto;
    padding: 1rem;
    position: relative !important;
    border-bottom: 1px dotted var(--header-border-color);
    margin-bottom: -1rem;
    flex-direction: column; /* Flex-Richtung für mobile Ansicht */
    align-items: center; /* Zentrierung der Elemente */
  }

  #input-section {
    display: flex; /* Flex-Container aktivieren */
    flex-direction: column; /* Elemente untereinander anordnen */
    align-items: stretch; /* Elemente über die volle Breite dehnen */
    width: 100%; /* Volle Breite für Input-Bereich */
  }

  h1 {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  #chord-input {
    flex: 1 1 100%; /* Volle Breite für den Chord Input */
    margin-bottom: 10px; /* Abstand zum Submit-Button */
  }

  /* Flex-Container für Button und Toggle */
  .button-container {
    display: flex; /* Flexbox für die Schaltflächen aktivieren */
    justify-content: center; /* Zentrierung */
    width: 100%; /* Volle Breite */
  }

  #submit-button {
    flex: 0 0 50%; /* Breite auf 50% setzen */
    margin-right: 10px; /* Abstand zum Dark-Light-Toggle */
  }

  #dark-light-toggle {
    flex: 0 0 40px; /* Feste Breite für den Toggle */
    height: 40px; /* Feste Höhe für den Toggle */
  }
  
  body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    padding: 0px;
    color: var(--text-color);
  }
  
  h1 {
    flex: 1 1 10%;
    font-size: 0.8em;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }
  
  h2 {
    font-size: 2.8em;
    letter-spacing: 0rem;
    text-transform: none;
    font-weight: 200;
    margin-top: 2rem;
  }
  
  h3 {
    font-size: 1.2em;
    letter-spacing: 0rem;
    text-transform: none;
    font-weight: 300;
    margin-top: 2rem;
  }

  .card {
    background-color: var(--card-bg);
    border-radius: 0px;
    border-top: 1px dotted var(--section-border-color);
    padding: 1rem;
    margin-bottom: 30px;
    /* box-shadow: var(--card-shadow); */
    opacity: 0;
    transform: translateY(0px);
    animation: fadeInUp var(--transition-speed) forwards;
  }

  .fretboard .cell {
    border: 0px solid var(--border-color);
    padding: 2px;
    text-align: center;
    min-width: 20px;
    min-height: 20px;
    font-size: 0.7rem;
    border-radius: 999px;
    transition: background-color var(--transition-speed), border-color var(--transition-speed);
  }
  
}
